.transaction-history{
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    min-width: 450px;
    margin-bottom: 50px;
    border-collapse: collapse;
}
.header{
    background: #00bcd5;
    color: white;
    text-transform: uppercase;
    text-align: middle;
    font-family: monospace;
}
.bodyTable{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 12px;
    text-align: center;
    color: gray;
}
.bodyTable tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.bodyTable tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.transaction-history th, .transaction-history td {
    padding: 12px 15px;
}